#contenedor{
  background-color: #2E9AFE;
  position: absolute;
  margin: 0 auto;
}

#estilo{
  padding: 40px 20px 70px 100px;
  border-top: solid purple 20px;
  border-left: solid purple 10px ;
  border-bottom: solid purple 20px;
  border-right: solid purple 10px ;
  margin: 120px 60px 30.5px 60px;
  background-color:yellow;
}
p{
  background-color: white;
}
